@use "@catppuccin/palette/scss/catppuccin";
@use "sass:color";

$highlights: (
  "keyword": "mauve",
  "built_in": "red",
  "type": "yellow",
  "literal": "peach",
  "number": "peach",
  "operator": "teal",
  "punctuation": "subtext1",
  "property": "teal",
  "regexp": "pink",
  "string": "green",
  "char.escape_": "green",
  "subst": "subtext0",
  "symbol": "flamingo",
  "variable": "mauve",
  "variable.language_": "mauve",
  "variable.constant_": "peach",
  "title": "blue",
  "title.class_": "yellow",
  "title.function_": "blue",
  "params": "text",
  "comment": "surface2",
  "doctag": "red",
  "meta": "peach",
  "section": "blue",
  "tag": "subtext0",
  "name": "mauve",
  "attr": "blue",
  "attribute": "green",
  "bullet": "teal",
  "code": "green",
  "emphasis": "red",
  "strong": "red",
  "formula": "teal",
  "link": "sapphire",
  "quote": "green",
  "selector-tag": "yellow",
  "selector-id": "blue",
  "selector-class": "teal",
  "selector-attr": "mauve",
  "selector-pseudo": "teal",
  "template-tag": "flamingo",
  "template-variable": "flamingo",
  "addition": "green",
  "deletion": "red",
);

$fontStyles: (
  "emphasis": "italic",
  "strong": "bold",
  "link": "italic",
  "quote": "italic",
);

@mixin highlights($flavor, $output: "hex", $prefix: "ctp-", $important: false) {
  $colors: map-get(catppuccin.$palette, $flavor);
  $hex: $output == "hex";

  @function set($value, $isColor: true) {
    @return if(
        $isColor,
        if($hex, map-get($colors, $value), rgb(var(--#{$prefix}#{$value}))),
        $value
      )
      if($important, !important, null);
  }

  &.hljs {
    color: set("text");
    background: set("base");
  }

  @each $key, $value in $highlights {
    .hljs-#{$key} {
      color: set($value);

      @if map-has-key($fontStyles, $key) {
        @if map-get($fontStyles, $key) == "bold" {
          font-weight: set("bold", false);
        } @else if map-get($fontStyles, $key) == "italic" {
          font-style: set("italic", false);
        }
      }

      @if ($key == "addition" or $key == "deletion") {
        background: set(
          if(
            $hex,
            color.change(map-get($colors, $value), $alpha: 0.15),
            rgba(var(--#{$prefix}#{$value}), 15%)
          ),
          false
        );
      }
    }
  }
}
