code,
.hljs {
    background: rgb(var(--ctp-mantle));
}

code {
    .hljs-attr, .hljs-string {
        color: rgb(var(--ctp-green));
    }

    .hljs-tag {
        color: rgb(var(--ctp-red));
    }

    .hljs-name {
        color: rgb(var(--ctp-flamingo));
    }
}

pre {
    .hljs {
        background: rgb(var(--ctp-mantle));
    }

    .hljs-params {
        color: rgb(var(--ctp-red));
    }

    .hljs-built_in,
    .hljs-selector-tag,
    .hljs-section,
    .hljs-link {
        color: rgb(var(--ctp-sapphire));
    }

    .hljs-keyword {
        color: rgb(var(--ctp-mauve));
    }

    .hljs,
    .hljs-subst {
        color: rgb(var(--ctp-subtext0));
    }

    .hljs-title {
        color: rgb(var(--ctp-blue));
    }

    .hljs-attr,
    .hljs-meta-keyword {
        color: rgb(var(--ctp-green));
    }

    .hljs-type {
        color: rgb(var(--ctp-blue));
    }

    .hljs-string {
        color: rgb(var(--ctp-green));
    }

    .hljs-tag {
        color: rgb(var(--ctp-red));
    }

    .hljs-meta,
    .hljs-name,
    .hljs-symbol,
    .hljs-bullet,
    .hljs-addition,
    .hljs-variable,
    .hljs-template-tag,
    .hljs-template-variable {
        color: rgb(var(--ctp-flamingo));
    }

    .hljs-addition {
        background-color: rgb(var(--ctp-mantle));
        color: rgb(var(--ctp-green));
    }

    .hljs-deletion {
        background-color: rgb(var(--ctp-mantle));
        color: rgb(var(--ctp-red));
    }

    .hljs-comment,
    .hljs-quote {
        color: rgb(var(--ctp-surface2));
    }

    .hljs-literal,
    .hljs-number {
        color: rgb(var(--ctp-peach));
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-literal,
    .hljs-title,
    .hljs-section,
    .hljs-doctag,
    .hljs-type,
    .hljs-name,
    .hljs-strong {
        font-weight: bold;
    }

    .hljs-emphasis {
        font-style: italic;
    }
}
