name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-sass:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Upload CSS
        uses: actions/upload-artifact@v4
        with:
          name: "Catppuccin HighlightJS CSS"
          path: css
